//color
$color-base: rgb(204, 184, 202);
$color-main: rgb(244, 180, 208);
$color-accent: rgb(181, 245, 217);
$color-footer: rgb(179, 161, 177);

//width
$width-container-pc: 1200px;
$width-container-sm: 90%;

//breakpoint
$breakpoint-pc: 481px;
$breakpoint-sm: 480px;